.chart div {
  font: 10px sans-serif;
  background-color: #4682B4;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

.chart rect {
  fill: #aaa;
  stroke: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

g.marker.marker-unselected circle {
  fill: #AAA;
  opacity: 0.5;
}
g.marker.marker-selected circle {
  fill: #A00;
}
g.marker path {
  stroke: black;
}
g.domain-legend text, svg.proteinstructure .domain text {
  font-size: 1.5ex;
}

g.marker circle {
    cursor: pointer;
    opacity: 0.75;
}

g.marker path {
   opacity: 0.75;
}

g.marker circle.high {
   fill: #d44;
   stroke: none;
}

g.marker circle.low {
   fill: #4d4;
   stroke: none;
}

g.marker circle.unknown {
   fill: #bbb;
   stroke: none;
}
