<div class="row" ng-cloak ng-show="step.data">
  <div class="col-md-9">
    <div class="page-header">
      <h1 ng-show="step.data.step._id">Step {{step.data.step.name}} <small>/
        for: {{step.data.step.appliesTo}} /
        in: <a href="/admin/studies/{{step.data.study.name}}">{{step.data.study.name}}</a></small></h1>
      <h1 ng-hide="step.data.step._id">New Step <small>/
        in: <a href="/admin/studies/{{step.data.study.name}}">{{step.data.study.name}}</a></small></h1>
    </div>

    <div class="form-horizontal step-form admin-form" ng-form>

      <div class="control-group">
        <label class="control-label" for="label">Label</label>
        <div class="controls">
          <input type="text" id="label" ng-model="step.data.step.label.default" placeholder="Step label" required>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="identifier">Identifier</label>
        <div class="controls">
          <input class="identifier-control" type="text" id="identifier" ng-model="step.data.step.name" placeholder="Identifier" required>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="description">Description</label>
        <div class="controls">
          <textarea class="description-control" id="description" ng-model="step.data.step.description.default" placeholder="Step description"></textarea>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="applies-to">Applies to</label>
        <div class="controls">
          <input class="identifier-control" type="text" id="applies-to" ng-model="step.data.step.appliesTo" placeholder="Applies to" required>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="weight">Weight</label>
        <div class="controls">
          <input type="text" id="weight" ng-model="step.data.step.weight" placeholder="Weight" required>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="repeatable">Repeatable</label>
        <div class="controls">
          <input type="checkbox" id="repeatable" ng-model="step.data.step.isRepeatable">
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="showSummary">Show on summary page</label>
        <div class="controls">
          <input type="checkbox" id="showSummary" ng-model="step.data.step.showSummary">
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="fields">Fields<br><a ng-click="addField()">Add field</a></label>
        <div class="controls">
          <div heli-admin-fields fields="step.fields"></div>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="access.write" data-toggle="collapse" data-target="#permissions-controls"><a>User permissions</a></label>
        <div class="controls collapse out" id="permissions-controls">
          <span class="help-block">List of users with read-write permission</span>
          <input type="text" id="access.write" placeholder="Read-write users" heli-tag-control model="step.data.step.access.modify">
          <span class="help-block">List of users with read-only permission</span>
          <input type="text" id="access.read" placeholder="Read-only users" heli-tag-control model="step.data.step.access.read">
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-primary" ng-click="update()">Save</button>
          <button class="btn" ng-click="resetStep()">Reset</button>
        </div>
      </div>

    </div>
  </div>

  <div class="col-md-3 sidebar" id="sidebar">
    <ul class="nav nav-list">
      <li class="nav-header"><a href="/admin">Manage studies</a></li>
    </ul>
  </div>
</div>