<div class="row" ng-cloak ng-show="entity.data">
  <div class="col-md-9">
    <div id="page-header">
      <div class="page-header">
        <h1>
          {{entity.data.sections.pubmed.data.Article.ArticleTitle}}<small> / Publication</small>
        </h1>
      </div>
    </div>
    <div id="page-body">

      <div heli-section body-id="source" heading="Source">

        <p>
          <em>{{entity.data.sections.pubmed.data.Article.Journal.ISOAbbreviation}}</em>,
          vol. {{entity.data.sections.pubmed.data.Article.Journal.JournalIssue.Volume}},
          {{entity.data.sections.pubmed.data.Article.Journal.JournalIssue.PubDate.Day}}
          {{entity.data.sections.pubmed.data.Article.Journal.JournalIssue.PubDate.Month}}
          {{entity.data.sections.pubmed.data.Article.Journal.JournalIssue.PubDate.Year}},
          <a href="http://www.ncbi.nlm.nih.gov/pubmed/{{entity.data.sections.pubmed.data.PMID}}" class="external">Open in PubMed</a>
        </p>

        <p>
          <span ng-repeat="author in entity.data.sections.pubmed.data.Article.AuthorList.Author">
            <span ng-show="author.LastName">{{author.Initials}} {{author.LastName}}</span><span ng-hide="author.LastName">{{author.CollectiveName}}</span><span ng-hide="$last">, <span>
          </span>
        </p>

        <p>
          <em>
            {{entity.data.sections.pubmed.data.Article.Affiliation}}
          </em>
        </p>

      </div>

      <div heli-section body-id="abstract" heading="Abstract">

        <p>
          <span ng-repeat="segment in entity.data.sections.pubmed.data.Article.Abstract.AbstractText">
            <strong ng-show="segment.Label">{{segment.Label}}. </strong>
            {{segment.value}}
          </span>
        </p>
      </div>

      <div heli-section body-id="keywords" heading="Keywords">

        <h4>Substances</h4>
        <ul>
          <li ng-repeat="chemical in entity.data.sections.pubmed.data.ChemicalList.Chemical">
            {{chemical.NameOfSubstance}}
          </li>
        </ul>

        <h4>MeSH terms</h4>
        <ul>
          <li ng-repeat="heading in entity.data.sections.pubmed.data.MeshHeadingList.MeshHeading">
            {{heading.DescriptorName.value}}
          </li>
        </ul>
      </div>

    </div>

  </div>

  <div class="col-md-3 sidebar" id="sidebar">
    <ul class="nav nav-list">
      <li class="nav-header">Publication</li>
    </ul>
  </div>
</div>
