<div class="row">
  <div class="col-md-9">

    <div class="page-header">
      <h1 ng-show="studies.data">List of studies</h1>
      <h1 ng-hide="studies.data">No studies available</h1>
    </div>

    <div ng-repeat="study in studies.data">
      <h3><a ng-href="{{study.url}}">{{study.name}}</a></h3>
      <p>
        <span class="inline-list">
          <span class="inline-item" ng-repeat="(key, value) in study.statistics">{{key | capitalize}}: {{value.count}}</span>
        </span><br>
        Last modified: {{study.lastModified | date:'medium'}}
      </p>
    </div>
  </div>

  <div class="col-md-3 sidebar" id="sidebar">
    <ul class="nav nav-list">
      <li class="nav-header">Studies</li>
    </ul>
  </div>
</div>
