<div class="row" ng-cloak ng-show="entity.data">
  <div class="col-md-9">

    <div id="page-header">
      <div class="page-header">
        <div class="pull-right"><div ng-show="! editing" heli-form-button>Download PDF</div></div>
        <div class="pull-right"><a ng-show="user.hasRole('KB_EDITOR') &amp;&amp; ! editing" class="btn" ng-click="startEditing()">Start Editing</a></div>
        <div class="pull-right"><a ng-show="user.hasRole('KB_EDITOR') &amp;&amp; editing" class="btn btn-danger" ng-click="saveChanges()">Save</a></div>
        <div class="pull-right"><a ng-show="editing" class="btn" ng-click="cancelChanges()">Cancel</a></div>
        <div class="pull-right"><a ng-show="editing" class="btn" ng-click="reset()">Reset</a></div>
        <h1>
          {{entity.data.name}} <small>Variant {{orderedPositions}}</small>
        </h1>
      </div>
    </div>

    <div id="page-body">

      <div ng-form>

        <div heli-section body-id="summary" title="Summary">
          <div id="summary-table">
            <dl class="dl-horizontal">
              <dt>Mutation</dt>
              <dd>{{entity.data.mutation}}
              (<span ng-show="ordered[0].HGVSpr">{{ordered[0].HGVSpr}}, </span>
               DNA: <span class="inline-list">
               <span class="inline-item" ng-repeat="item in ordered">{{item.HGVSc}}</span></span>)
              </dd>
              <dt>Type</dt>
              <dd>
              <span ng-show="entity.data.sections.annotation.data.consequence">{{(entity.data.sections.annotation.data.consequence || "Not available") | keywordToString:false}}</span>
              <span ng-show="! entity.data.sections.annotation.data.consequence">not available</span>
              </dd>
              <dt>Predicted impact</dt>
              <dd>
              <span class="inline-list">
              <span class="inline-item" ng-show="entity.data.sections.annotation.data.sift">{{entity.data.sections.annotation.data.sift.level | keywordToString:false}} (SIFT, score: {{entity.data.sections.annotation.data.sift.score}})</span>
              <span class="inline-item" ng-show="entity.data.sections.annotation.data.polyphen">{{entity.data.sections.annotation.data.polyphen.level | keywordToString:false}} (PolyPhen, score: {{entity.data.sections.annotation.data.polyphen.score}})</span>
              <span class="inline-item" ng-hide="entity.data.sections.annotation.data.sift || entity.data.sections.annotation.data.polyphen">Not available</span>
              </span>
              <br>
              <span class="text-warning"><strong>Note: Impact prediction algorithms are not clinically validated</strong></span>
              </dd>

              <dt>Gene</dt>
              <dd>
                <a href="/genes/{{entity.data.genesRefx.name}}">{{entity.data.genesRefx.name}}</a>
              </dd>
              <dt>Position</dt>
              <dd>codon: <span ng-show="ordered[0].codonStart">{{ordered[0].codonStart}}</span>
              (in exon:
              <span ng-show="ordered[0].exon">{{ordered[0].exon}}</span><span ng-show="! ordered[0].exon">not available</span>)
              </dd>
            </dl>
          </div>

        </div>
      </div>

      <div heli-section body-id="domains" title="Gene structure" when="geneTranscripts">
        <div heli-structure-distribution transcript="geneTranscripts.data.records[0]" mutations="mutations.data"></div>
      </div>

      <div heli-section body-id="frequencies" title="Mutation frequencies" when="frequencies">
        <div id="frequencies-table">
          <div heli-frequencies frequencies="frequencies.data"></div>
        </div>
      </div>

      <div heli-section body-id="clinical-action" title="Clinical summary" when="editing || annotation.data.action[0].type">
        <div class="row-fluid">
          <div heli-editable-action-annotation></div>
        </div>
      </div>

      <div heli-section body-id="clinical-significance" title="Clinical significance" when="editing || annotation.data.significance">
        <div heli-editable-significances significance="annotation.data.significance"></div>
      </div>

      <div heli-section body-id="drugs" title="Druggability" when="editing || annotation.data.agents">
        <div heli-editable-agents-annotation></div>
      </div>

      <div heli-section body-id="genomics" title="Genomics">
        <div id="genomics-table">
          <dl class="dl-horizontal">
            <dt>Chromosome</dt>
            <dd>{{ordered[0].chromosome}}</dd>
            <dt>Position</dt>
            <dd>Codon: <span ng-show="ordered[0].codonStart">{{ordered[0].codonStart}}</span>
            (in exon:
            <span ng-show="ordered[0].exon">{{ordered[0].exon}}</span><span ng-show="! ordered[0].exon">not available</span>)
            </dd>
            <dt>Ensembl gene</dt>
            <dd><a href="http://www.ensembl.org/id/{{ordered[0].gene}}" rel="external">{{ordered[0].gene}}</a></dd>
            <dt>Ensembl transcript</dt>
            <dd><a href="http://www.ensembl.org/id/{{ordered[0].transcript}}" rel="external">{{ordered[0].transcript}}</a></dd>
          </dl>
        </div>

      </div>
    </div>
  </div>

  <div class="col-md-3 sidebar" id="sidebar">
    <ul class="nav nav-list">
      <li class="nav-header">Variant</li>
    </ul>
  </div>

</div>
