<div class="row">
  <div class="span3" id="sidebar">
    <div class="well" style="max-width: 240px; padding: 8px 0; margin-top: 2em">
      <ul class="nav nav-list">
        <li class="nav-header">Manage studies</li>
        <li><a href="/admin/studies">New study</a></li>
      </ul>
    </div>  
  </div>

  <div class="span9">

    <div class="form-horizontal study-form" ng-form>

      <div class="page-header">
        <h1 ng-hide="study.data._id">New study</h1>
        <h1 ng-show="study.data._id">{{study.data.name}}</h1>
      </div>

      <div class="control-group">
        <label class="control-label" for="name">Label</label>
        <div class="controls">
          <input class="label-control" type="text" id="label" ng-model="study.data.name" placeholder="Study label" required>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="name">Description</label>
        <div class="controls">
          <textarea id="description" ng-model="study.data.description" rows="3" placeholder="Study description"></textarea>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="name">User permissions</label>
        <div class="controls">
          <span class="help-block">List of users with read-write permission</span>
          <input type="text" id="access.write" placeholder="Read-write users" heli-tag-control model="study.data.access.modify">
          <span class="help-block">List of users with read-only permission</span>
          <input type="text" id="access.read" placeholder="Read-only users" heli-tag-control model="study.data.access.read">
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-primary" ng-click="update()">Save</button>
        </div>
      </div>

    </div>
  </div>
</div>