<div class="row">
  <div class="span3" id="sidebar">
    <div class="well" style="max-width: 240px; padding: 8px 0; margin-top: 2em">
      <ul class="nav nav-list">
        <li class="nav-header"><a href="/admin">Manage Heliotrope</a></li>
        <li><a href="/admin/users">Users</a></li>
      </ul>
    </div>  
  </div>

  <div class="span9">

    <form class="form-horizontal study-form" ng-init="isValid = true">

      <div class="page-header">
        <h1>{{users.data.userId}} <small> / <a href="/admin">Manage Heliotrope</a></h1>
      </div>

      <div ng-show="error" class="alert alert-error alert-block">
        <h4>Error!</h4> 
        {{error.data}}
      </div>

      <div class="control-group">
        <label class="control-label" for="username">Username</label>
        <div class="controls">
          <input type="text" id="username" ng-model="users.data.userId" readonly placeholder="Username" required>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="password">Password</label>
        <div class="controls">
          <input type="password" id="password" name="password" ng-model="users.data.password" placeholder="Password" heli-validate minlength="8" data-validation-minlength-message="Should be at least eight characters">
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="confirm">Confirm password</label>
        <div class="controls">
          <input type="password" id="confirm" ng-model="users.data.confirm" placeholder="Confirm" heli-validate data-validation-match-match="password" data-validation-match-message="Must match password">
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="roles">Roles</label>
        <div class="controls">
          <input type="text" id="roles" heli-tag-control model="users.data.roles">
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-primary" ng-click="update()">Save</button>
          <button class="btn" ng-click="reset()">Reset</button>
          <button class="btn" ng-click="cancel()">Cancel</button>
        </div>
      </div>

    </form>    
  </div>
</div>