<div class="row">
  <div class="span3" id="sidebar">
    <div class="well" style="max-width: 240px; padding: 8px 0; margin-top: 2em">
      <ul class="nav nav-list">
        <li class="nav-header">Study</li>
        <li><a href="{{entity.data.study.url}}">{{entity.data.study.name}}</a></li>
        <li><a href="{{entity.data.study.url}}/participants/id;new/step/participant">Create new participant</a></li>
        <li class="divider"></li>
      </ul>
    </div>

    <div class="well" style="max-width: 240px; padding: 8px 0em; margin-top: 2em">
      <div style="margin: 1em">
      <div heli-choose-step></div>
      </div>
    </div>

  </div>
  <div class="span9">

    <div id="page-header">
      <div class="page-header">
        <h1>
          <span ng-show="entity.data.name">{{entity.data.name}}</span>
          <span ng-hide="entity.data.name">{{entity.data.identity}}</span>
          <small> / <a href="{{entity.data.study.url}}">{{entity.data.study.name}}</a></small>
        </h1>
      </div>
    </div>
    
    <div ng-repeat="alert in entity.data.alerts"><div heli-alert alert="{{alert}}"></div></div>

    <div id="data">
      <div heli-summary></div>
    </div>
    
  </div>
</div>
