<div class="row">
  <div class="span3" id="sidebar">
    <div class="well" style="max-width: 240px; padding: 8px 0; margin-top: 2em">
      <ul class="nav nav-list">
        <li class="nav-header">Study</li>
        <li><a href="{{entity.data.study.url}}">{{entity.data.study.name}}</a></li>
        <li><a href="{{study.data.url}}/Global/Global/step/CreateParticipant">Create new participant</a></li>
      </ul>
    </div>
  </div>
  <div class="span9">

    <div id="page-header">
      <div class="page-header">
        <h1>
          {{entity.data.steps[0].fields[0].identity}}<small> / <a href="{{entity.data.study.url}}">{{entity.data.study.name}}</a></small>
        </h1>
      </div>
    </div>
    
    <div ng-repeat="alert in entity.data.alerts"><div heli-alert alert="{{alert}}"></div></div>

    <div id="data">
      <div heli-dynatab></div>
    </div>

    <form class="form-horizontal" style="padding-top: 1em">
      <div class="control-group">
        <label class="control-label" for="apply-workflow">Apply workflow</label>
        <div class="controls">
          
          <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown">Choose workflow <b class="caret"></b></a>
            <div heli-workflows></div>
          </div>
          
        </div>
      </div>
    </form>
    
  </div>
</div>
