<div class="row">
  <div class="span3" id="sidebar">
    <div class="well" style="max-width: 240px; padding: 8px 0; margin-top: 2em">
    <ul class="nav nav-list">
      <li class="nav-header">Gene</li>
    </ul>
    </div> 
  </div>
  
  <div class="span9">

    <div id="page-header">
      <div class="page-header">
        <h1>
          {{entity.data.name}}<small> / Gene</small>
        </h1>
      </div>
    </div>
    <div id="page-body">

      <div heli-section body-id="summary" title="Summary">
        <div id="subjects-table">
          <dl>
            <dt>Full name</dt>
            <dd>{{description.fullName}}</dd>
            <dt>Synonyms</dt>
            <dd>
              <span class="inline-list">
                <span class="inline-item" ng-repeat="synonym in description.synonyms">{{synonym}}</span>
              </span>
            </dd>
            <dt>Summary</dt>
            <dd>{{description.summary}}</dd>
          </dl>
        </div>
      </div>

      <div ng-show="entity.data.sections.mutations" heli-section body-id="mutations" title="Mutations">
        <div id="mutations-list" class="section-end">
          <span class="inline-list">
            <span class="inline-item" ng-repeat="mutation in entity.data.sections.mutations.data"><a href="/variants/{{mutation._id}}">{{mutation.name}}</a></span>
          </span>
        </div>
      </div>

      <div heli-section body-id="domains" title="Gene structure">
        <div heli-structure-distribution></div>
      </div>

      <div ng-show="entity.data.sections.gene_census_data" heli-section body-id="gene-census-info" title="Cancer gene census information">
        <div id="cancer-gene-census-table">
          <dl>
            <dt>Full name</dt>
            <dd>{{entity.data.sections.gene_census_data.data.name}}</dd>
            <dt>Chromosomal band</dt>
            <dd>{{entity.data.sections.gene_census_data.data.chromosome_band}}</dd>
            <dt>Germline</dt>
            <dd ng-show="entity.data.sections.gene_census_data.data.germline">Yes</dd>
            <dd ng-show="! entity.data.sections.gene_census_data.data.germline">No</dd>
            <dt>Somatic</dt>
            <dd ng-show="entity.data.sections.gene_census_data.data.somatic">Yes</dd>
            <dd ng-show="! entity.data.sections.gene_census_data.data.somatic">No</dd>
            <dt>Tissue types</dt>
            <dd>
              <span class="inline-list">
                <span class="inline-item"
                  ng-repeat="type in entity.data.sections.gene_census_data.data.tissue_types">{{type}}</span>
              </span>
            </dd>
            <dt>Mutation types</dt>
            <dd>
              <span class="inline-list">
                <span class="inline-item"
                  ng-repeat="type in entity.data.sections.gene_census_data.data.mutation_types">{{type}}</span>
              </span>
            </dd>
            <dt>Somatic tumour types</dt>
            <dd>
              <span class="inline-list">
                <span class="inline-item"
                  ng-repeat="type in entity.data.sections.gene_census_data.data.tumour_types_somatic">{{type}}</span>
              </span>
            </dd>
          </dl>
        </div>
      </div>

      <div heli-section body-id="frequencies" title="Mutation frequencies">
        <div id="frequencies-table">
          <div heli-frequencies></div>
        </div>
      </div>

      <div heli-section body-id="genomics" title="Genomics">
        <div id="genomics-table">
          <dl>
            <dt>Chromosome</dt>
            <dd>{{entity.data.sections.location.data.chromosome}}</dd>
            <dt>Genomic coordinates</dt>
            <dd>{{entity.data.sections.location.data.chromosome}}:{{entity.data.sections.location.data.txStart}}-{{entity.data.sections.location.data.txEnd}}</dd>
            <dt>Ensembl gene</dt>
            <dd>
              <a href="http://www.ensembl.org/id/{{entity.data.id}}"
                rel="external">{{entity.data.id}}</a>
            </dd>
            <dt>Ensembl transcript</dt>
            <dd>
              <a href="http://www.ensembl.org/id/{{entity.data.sections.transcripts.data.canonicalTranscriptId}}"
                rel="external">{{entity.data.sections.transcripts.data.canonicalTranscriptId}}</a>
            </dd>
            <dt>RefSeq identifiers</dt>
            <dd>
              <span class="inline-list">
                <span class="inline-item" ng-repeat="refseq in entity.data.sections.transcripts.data.records[0].refSeqId">
                  <a href="http://www.ncbi.nlm.nih.gov/nuccore/{{refseq}}" rel="external">{{refseq}}</a>
                </span>
              </span>
            </dd>
            <dt>Gene size</dt>
            <dd>{{entity.data.sections.transcripts.data.records[0].lengthAminoAcid}} (aa),
                {{entity.data.sections.transcripts.data.records[0].lengthDNA}} (bp)</dd>
            <dt>Number of exons</dt>
            <dd>{{entity.data.sections.transcripts.data.records[0].numberOfExons}}</dd>
          </dl>
        </div>
      </div>

    </div>
  </div>
</div>
