<div class="row">
  <div class="span3" id="sidebar"></div>
  <div class="span9">
  
    <div id="page-header">
      <div class="page-header">
        <h1>
          {{entity.data.step.label}}<small> / <span ng-show="entity.data.identity"> <a href="{{entity.data.url}}">{{entity.data.identity}}</a> /</span> <a href="{{entity.data.study.url}}">{{entity.data.study.name}}</a></small>
        </h1>
      </div>
    </div>
    
    <div heli-error-alert field="error.data.error.err"></div>

    <div ng-repeat="alert in entity.data.alerts"><div heli-alert alert="{{alert}}"></div></div>

    <form class="form-horizontal">
      <div class="control-group" ng-repeat="(fieldKey, fieldValue) in entity.data.step.fields">
        <label class="control-label" for="{{fieldKey}}">{{fieldValue.label}}<span ng-show="fieldValue.required">*</span></label>
        <div class="controls" heli-step-field field-key="fieldKey" fieldValue="fieldValue"></div>
      </div>

      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-primary" ng-click="update(entity)">Save</button>
        </div>
      </div>
    </form>
    <pre>form = {{entity.data.step | json}}</pre>
  </div>
</div>
