<div class="row">

  <div class="span12">

    <div class="page-header">
      <h1>List of studies</h1>
    </div>

    <div ng-repeat="study in studies.data">
      <h3><a ng-href="{{study.url}}">{{study.name}}</a></h3>
      <p>
        <span class="inline-list">
          <span class="inline-item" ng-repeat="(key, value) in study.statistics">{{key | capitalize}}: {{value.count}}</span>
        </span><br>
        Last modified: {{study.lastModified | date:'medium'}}
      </p>
    </div>
  </div>

</div>
